<div class="row">
    <div class="col-xs-12"></div>
    <img src="{{ selectedRecipeDetail.imagePath }}" alt="selectedRecipeDetail.name" class="img-responsive" style="height:250px;"> 
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ selectedRecipeDetail.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle"
            >Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToSL()" style="cursor: pointer">To Shopping List</a></li>
                <li><a routerLink="edit" style="cursor: pointer">Edit Recipe</a></li>
                <li><a style="cursor: pointer">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- <app-recipe-list (selectedItem)="onItemSelected($event)"></app-recipe-list> -->
<div class="row" style="margin-top: '10px'">
    <div class="col-xs-12">
        {{ selectedRecipeDetail.description }}
    </div>
</div>
<div class="row" style="margin-top: '20px'">
    <div class="col-xs-12"> 
        <h4>Ingredients:</h4>
        <ul class="list-group">
            <li 
                class="list-group-item" 
                *ngFor="let ingredient of selectedRecipeDetail.ingredients"
            >{{ ingredient.name }} - {{ ingredient.amount }}</li>
        </ul>
    </div>
</div>